@charset "UTF-8";

html{
	width: 1800px;
	background-color: #ccdce7;
	margin-left: 50px;
}

.recipe-page{
	width: 1800px;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: white;
	margin-top: 100px;
}

.recipe-img{
	width: 700px;
	height: 700px;
	background-color: silver;
	margin-top: 30px;
	margin-left: 30px;
	
}

.container{
	display: flex;
	flex-direction: column;
	width: 900px;
	margin-top: 50px;
	margin-left: 50px;
}

.recipe-name{
	font-weight: bolder;
	font-size: 55px;
	margin-top: 10px;
}

.recipe-type{
	color: orange;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 2px;
}

.nutrient{
	width: 100%;
}

.nutrient-title{
	margin-top: 30px;
	font-weight: 600;
	font-size: 35px;
}

.nutrient-detail div{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}

.ingredients-title{
	margin-top: 30px;
	font-weight: 600;
	font-size: 35px;
}

.ingredients-detail div{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
	word-break: keep-all;
}


.cooking-method{
	margin-top: 30px;
	margin-left: 30px;
}

.cooking-method-title{
	font-size: 27px;
	font-weight: bold;
}

.cooking-method-detail-img{
	margin-top: 5px;
	height: 195px;
	width: 260px;
}
.cooking-method-detail-txt{
	margin-top: 15px;
	margin-bottom: 30px;
	font-weight: bold;
}











.scrap{
	font-size: 120px;
}


.recipe_tit{
	width: 100%;
	font-size: 2vw;
	margin: 9vw 0 3vw 3vw;
}

.reply_list{
	width: 100%;
	position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.reply_list table{
	width:100%;
	
}

.reply_list tr {
	border-bottom :1px solid #999;
}

.reply_list th,
.reply_list td{
	text-align: center;
}

.reply_list tbody tr td:nth-child(2){
	text-align: left;
}

.replt_form{
	margin-top: 3vw;
}

#form{
	width: 70vw;
	height: 7vw;
}

#submit{
	width: 8.5vw;
	height: 7vw;
}