@charset "UTF-8";

html{
	width: 1800px;
	background-color: #ccdce7;
	margin-left: 50px;
}

.recipe-page{
	width: 1800px;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: white;
	margin-top: 100px;
}

.recipe-img{
	width: 700px;
	height: 700px;
	background-color: silver;
	margin-top: 30px;
	margin-left: 30px;
	
}

.container{
	display: flex;
	flex-direction: column;
	width: 850px;
	margin-top: 50px;
	margin-left: 50px;
}

.recipe-name{
	font-weight: bolder;
	font-size: 55px;
	margin-top: 10px;
}

.recipe-type{
	color: orange;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 2px;
}

.nutrient{
	width: 100%;
}

.nutrient-title{
	margin-top: 30px;
	font-weight: 600;
	font-size: 35px;
}

.nutrient-detail div{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}

.ingredients-title{
	margin-top: 30px;
	font-weight: 600;
	font-size: 35px;
}

.ingredients-detail div{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
	word-break: keep-all;
}


.cooking-method{
	margin-top: 30px;
	margin-left: 180px;
}

.cooking-method-title{
	font-size: 27px;
	font-weight: bold;
}

.cooking-method-detail-img{
	margin-top: 5px;
	height: 195px;
	width: 260px;
}
.cooking-method-detail-txt{
	margin-top: 15px;
	margin-bottom: 30px;
	font-weight: bold;
}

.scrap{
	font-size: 75px;
    width: 80px;
    display: flex;
}


.reply-list{
	width: 80%;
	position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.reply-list-table{
	width:100%;
	border: 1px solid black;
	background-color: lightgray;
}

.reply-list-table th{
	border: 1px solid black;
	font-size: 20px;
	font-weight: 600;
}

.reply-list-table td{
	border: 1px solid black;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}

.reply-detail-num{
	width: 5%;
}

.reply-detail-user{
	width: 8%;
}

.reply-detail-date{
	width: 7%;
}



.reply-form{
	margin-top: 10px;
	margin-left: 367px;
	width: 1145px;
    padding-bottom: 20px;
}

.reply-text{
	width: 1095px;
	display: inline;
}

.reply-submit{
	border: 1px solid black;
	border-radius: 10%;
	background-color: lightgray;
}














