@charset "UTF-8";

html{
	width: 1800px;
	background-color: #ccdce7;
	margin-left: 70px;
}

/* 싸이드바 */
.sideBar {
	width: 200px;	
	height: 600px;
	position: fixed;
	margin-top: 230px;
	margin-left: 1597px;
	text-align: center;
	background-color: white;
}

.sideBar-title {
	width: 100%;	
	height: 10%;
	font-size: 35px;
	font-weight: bold;
	font-family: Times New Roman;
}
.sideBar-body{
	width: 100%;	
	height: 70%;
	
}
.best-recipe{
	height: 80px;
	width: 200px;	
	display: flex;
	margin-bottom: 10px;
}

.best-recipe-pic{
	height: 80px;
	width: 100px;
}
.best-recipe-text{
	height: 80px;
	width: 100px;
	word-break: keep-all;
	font-size: 14px;
	margin-top: 14px;	
}

.most-popular-recipe-text{
	font-family: 'Single Day', cursive;
	font-weight: bold;
}

/* 여기부터 바디 메뉴-------------------------------------------------------------------------- */
.body {
	width: 1600px;
	display: inline-flex;
	flex-direction: column;
	margin-top: 100px;
}

.row {
	height: 400px;
	display: flex;
	margin-top: 1em;
	font-weight: bold;
	text-align: center;
}

.row>* {
	margin-right: 2em;
}

/* 세뉴 상세 */
.upper-recipe {
	height: 100%;
	width: 100%;
	background-color: white;
}

.recipe-pic {
	margin-bottom: 1em;
	float: left;
	height: 80%;
	width: 100%;
	
}

.recipe-text>div{
	margin-bottom: 0.3px;
	font-weight:bold; 
	font-family: 'Single Day', cursive;
}

/* 음식 종류. 이하 뒤에 꼬리 이상한건 api 파라미터 따라한거임 */
.recipe-type{
	font-size: 12px;
	color: orange;
}

/* 페이지 넘버 */

.pager{
	margin-top: 30px;
	margin-left: 596px
	/* (1568-376)/2 */
}

.pager td{
	font-size: 20px;
	padding: 5px;
	background-color: white;	
	color: #6559E9;
	
}

.arrow{
	
}

.blank{
	width: 5px;
	padding: 0px;
	background-color:#ccdce7;
}