@charset "UTF-8";
<!-- Bootstrap -->
 


.tit{
	font-size:3.3vw;
	 margin-right:2vw;
	 display: flex;
	 align-content: center;
	 }

table{
	border:1px solid;
    width: 200px;
  	height: 100px;
 	padding: 20px;
 	position: absolute;
  	top: 50%;
  	left: 50%;
}
.boardForm{font-size:1.3vw; border-bottom:1px solid}
.boardForm td{
padding-right: 3vw;
 border-bottom:1px solid
 }
.info td{font-size:0.5vw;}

.btn_section{
   padding-top:20px;
   flex-direction:row;
   justify-content:flex-end;
   width:50%;

}
.btn_section input{
 font-size:1.5vw;
 background-color: lightblue;
  color:white;
   }

.btn_down-file{margin-left:1%;   z-index:999;}
.article_content{min-height: 50vh; border-bottom: 1px solid;}