@charset "UTF-8"; 

.tit{
	text-align: center;
	font-size:6em;
  	 font-weight:bolder;
  	 margin-top:7vw;
}

table{
	display: flex;
	width:80%;
}
.category{
	width:70%;
	display:flex;
   justify-content:right;
   margin-right:5px;
}

.search{
	width:70%;
	display:flex;
	justify-content: right;
}
.board_list {
	width:80%;
	border-top: 2px solid navy;
	display: flex;
	font-size:1vw;
}
.board_list tr {
	border-bottom :1px solid #999;
}
.board_list th,
.board_list td{
	padding: 10px;
}
.board_list td{
text-align: center;
}
.board_list tbody tr td:nth-child(2){
text-align: left;
}
.board_list tbody tr td:nth-child(2):hover{
text-decoration: underline;
}
.paging{
 	display:flex;
	justify-content: center;
  	margin-top: 20px;
  	
}

.btn{
	 display:flex;
   justify-content:right;
}



