@charset "UTF-8";

html,body{
	height: 100%;
	width: 100%;
}
.boardForm{
	
	width:80%;
	height:70%:
	border: 3px solid lightblue;
	display: flex;
	font-size:1.5vw;
	justify-content: center;
	position:relative;
	top:100px;
	text-align: center;

}
tr,td{
	border: 1px solid lightblue;
    padding: 10px;	
}