<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>a_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.kh.recipe.common.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>wrapperFilter</filter-name>
    <filter-class>com.kh.recipe.common.filter.WrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wrapperFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>authorizationFilter</filter-name>
    <filter-class>com.kh.recipe.common.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>validatorFilter</filter-name>
    <filter-class>com.kh.recipe.common.filter.ValidatorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>validatorFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>dietHealthController</display-name>
    <servlet-name>dietHealthController</servlet-name>
    <servlet-class>com.kh.recipe.dietHealth.controller.dietHealthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dietHealthController</servlet-name>
    <url-pattern>/dietHealthController</url-pattern>
  </servlet-mapping>
  
   <filter>
    <filter-name>fileFilter</filter-name>
  	<filter-class>com.kh.recipe.common.filter.FileFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>fileFilter</filter-name>
  	<url-pattern>/file/*</url-pattern>
  </filter-mapping>
</web-app>