@charset "UTF-8";

html {
	width: 1800px;
	height: 100%; background-color : #ccdce7;
	margin-left: 70px;
	background-color: #ccdce7;
}

body {
	width: 100%;
	height: 100%;
}


.top{
	height:100px;
}

#myPage {
	display: flex;
	margin-top: 5vw;
}                 

#memberInfo { /* 회원정보 div */
	background-color: silver;
	width: 33%;
	height: 300px;
	margin-right: 10px;
	text-align:center;
}

#myReview { /* 댓글&리뷰 모아보기 div */
	background-color: silver;
	width: 33%;
	height: 300px;
	margin-right: 10px;
	text-align:center;
}

#myScrape { /* 스크랩 모아보기 div */
	background-color: silver;
	width: 33%;
	height: 300px;
	margin-right: 10px;
	text-align:center;
}


.memberInfo{ /* 회원정보 이미지 삽입 */
	background-image: url(/resources/img/mypage_memberinfo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.myReview{ /* 댓글&리뷰 이미지 삽입 */
	background-image: url(/resources/img/mypage_review.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.myScrape{ /* 스크랩 이미지 삽입 */
	background-image: url(/resources/img/mypage_scrape.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}