@charset "UTF-8";

html, body {
	height: 400px;
	display: flex;
	margin-top: 1em;
	font-weight: bold;
	text-align: center;
}

/* 싸이드바 */
.sideBar {
	width: 200px;	
	height: 400px;
	position: fixed;
	right: 50px;
	margin-top: 100px;
	text-align: center;
	background-color: white;
}

.sideBar-title {
	width: 100%;	
	height: 20%;
	font-size: 2em;
	font-weight: bold;
}
.sideBar-body{
	width: 100%;	
	height: 80%;
	
}
.sideBar-body>div{
	height: 22%;
	width: 100%;	
	display: flex;
	margin-bottom: 10px;
}

.sideBar-body span{
	height: 100%;
	width: 60%;	
	margin-top: 10px;
	font:caption;
}

.most-popular-recipe-1-pic{
	height: 100%;
	width: 40%;
	background-size: cover;
}


.most-popular-recipe-2-pic{
	height: 100%;
	width: 40%;
	background-size: cover;
}



.most-popular-recipe-3-pic{
	height: 100%;
	width: 40%;
	background-size: cover;
}


.most-popular-recipe-4-pic{
	height: 100%;
	width: 40%;
	background-size: cover;
}



.sideBar-body>div:hover {
	background-color: fuchsia;
}

/* 여기부터 바디 메뉴-------------------------------------------------------------------------- */
.body {
	height: 2600px;
	width: 1400px;
	margin-right: 40em;
	display: inline-flex;
	flex-direction: column;
}

/* 첫번재줄 */
.row-1 {
	height: 15%;
	display: flex;
	margin-top: 1em;
	font-weight: bold;
	text-align: center;
}

.row-1>* {
	margin-right: 2em;
}

/* 음식 사진 */
.row-1-recipe-1, .row-1-recipe-2, .row-1-recipe-3, .row-1-recipe-4 {
	height: 110%;
	width: 100%;
	background-color: white;
}

.row-1-recipe-1-ATT_FILE_NO_MK {
	background-image: url("../../resources/img/food_1.webp");
	background-size: cover;
	margin-bottom: 1em;
	float: left;
	height: 70%;
	width: 100%;
	
}

.row-1-recipe-2-ATT_FILE_NO_MK {
	background-image: url("../../resources/img/food_2.webp");
	background-size: cover;
	margin-bottom: 1em;
	float: left;
	height: 70%;
	width: 100%;
}

.row-1-recipe-3-ATT_FILE_NO_MK {
	background-image: url("../../resources/img/food_3.webp");
	background-size: cover;
	margin-bottom: 1em;
	float: left;
	height: 70%;
	width: 100%;
}

.row-1-recipe-4-ATT_FILE_NO_MK {
	background-image: url("../../resources/img/food_4.webp");
	background-size: cover;
	margin-bottom: 1em;
	float: left;
	height: 70%;
	width: 100%;
}

/* 음식 종류. 이하 뒤에 꼬리 이상한건 api 파라미터 따라한거임 */
.row-1-recipe-1_RCP_PAT2, .row-1-recipe-2_RCP_PAT2, .row-1-recipe-3_RCP_PAT2, .row-1-recipe-4_RCP_PAT2{
	font-size: 12px;
	color: orange;
}

.recipe-text>*{
	margin-bottom: 0.5em;
}